<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>BOARD</title>
    <!--Title of the page by the actual BOARD -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <script src="/static/js/button_functions.js"></script>
    <script src="/static/js/DataLoader.js"></script>
    <script src="/static/js/sortable_lists.js"></script>
    <script src="/static/js/textarea_resize.js"></script>
    <script src="/static/js/cards.js"></script>
    <!--<script src="static/js/dragndrop.js"></script>-->
    <script src="/static/js/status_settr.js"></script>
</head>

<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">DUMMY BOARD</a>
    <a href="#">DUMMY BOARD</a>
    <a href="#">DUMMY BOARD</a>
    <a href="javascript:void(0)" class="addbtn">+</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()"><button id="open-button" title="Boards menu"
                                  class="sidebar-open-button glyphicon glyphicon-menu-right"></button></span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class=" col-lg-1">
                <a class="navbar-brand" href="#">
                    <div class="img-wrapper">
                        <img class="logo" alt="Brand" src="../static/img/f4.png" style="height: 40px; width: auto; ">
                    </div>
                </a>
            </div>
            <div class=" col-lg-11 col-centered">

                <p class="board-title">BOARD TITLE VARIABLE</p>
            </div>
        </div>


        <div class="container">
            <div id="card-lists" class="row">
                <div id="new-cards" class="col-md-3">
                    <h2 id="new">NEW</h2>
                    <ul class="sortable">

                        <li id="1">
                            <div class="card">
                                <div class="card-title">
                                    <textarea class="title-input" spellcheck=false rows="1"
                                              placeholder="card title"></textarea>
                                </div>

                                <div class="card-description">
                                    <textarea class="task" spellcheck=false rows="1"
                                              placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="in-progress-cards" class="col-md-3">
                    <h2 id="in-progress">IN PROGRESS</h2>
                    <ul class="sortable">

                        <li id="2.1">
                            <div class="card">
                                <div class="card-title">
                                    <textarea class="title-input" spellcheck=false rows="1"
                                              placeholder="card title"></textarea>
                                </div>

                                <div class="card-description">
                                    <textarea class="task" spellcheck=false rows="1"
                                              placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="review-cards" class="col-md-3">
                    <h2 id="review">REVIEW</h2>
                    <ul class="sortable">
                        <li id="3.1">
                            <div class="card">
                                <div class="card-title">
                                    <textarea class="title-input" spellcheck=false rows="1"
                                              placeholder="card title"></textarea>
                                </div>

                                <div class="card-description">
                                    <textarea class="task" spellcheck=false rows="1"
                                              placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="done-cards" class="col-md-3">
                    <h2 id="done">DONE</h2>
                    <ul class="sortable">

                        <li id="4.1">
                            <div class="card">
                                <div class="card-title">
                                    <textarea class="title-input" spellcheck=false rows="1"
                                              placeholder="card title"></textarea>
                                </div>

                                <div class="card-description">
                                    <textarea class="task" spellcheck=false rows="1"
                                              placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>


</body>

<footer>

    <button id="add-button" title="Add new card" type="button" class="btn btn-default"><span id="add-icon"
                                                                                             class="glyphicon glyphicon-plus"></span>
    </button>

    <button id="trash-button" title="Delete board" type="button" class="btn btn-default"><span id="trash-icon"
                                                                                               class="glyphicon glyphicon-trash"></span>
    </button>

</footer>

<script>

</script>


</html>