<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOARD</title>
    <!--Title of the page by the actual BOARD -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <script src="/static/js/button_functions.js"></script>
    <script src="/static/js/DataLoader.js"></script>
    <script src="/static/js/sortable_lists.js"></script>
    <!--<script src="/static/js/cards.js"></script>-->
    <script src="static/js/dragndrop.js"></script>
</head>

<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">DUMMY BOARD TITLE</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()"><button id="open-button" class="sidebar-open-button glyphicon glyphicon-menu-right"></button></span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class=" col-lg-1">
                <a class="navbar-brand" href="#">
                    <div class="img-wrapper">
                        <img class="logo" alt="Brand" src="../static/img/f4.png" style="height: 40px; width: auto; ">
                    </div>
                </a>
            </div>
            <div class=" col-lg-10">

                <p class="board-title">BOARD TITLE VARIABLE</p>
            </div>
            <div class="navbar-right">
                <div class="col-lg-1">
                    <button type="button" class="btn btn-default navbar-btn"><span
                            class="login-icon glyphicon glyphicon-log-in"
                            aria-hidden="true"></span> Login
                    </button>
                </div>
            </div>
        </div>

        <div class="fixed-container container">
            <!-- You can check the structure by this four, but these divs will be generated automatically -->
            <div id="card-lists-headers" class="row">
                <div id="new" class="col-md-3">
                    <h2>NEW</h2>
                </div>
                <div id="in-progress" class="col-md-3">
                    <h2>IN PROGRESS</h2>
                </div>
                <div id="review" class="col-md-3">
                    <h2>REVIEW</h2>
                </div>
                <div id="done" class="col-md-3">
                    <h2>DONE</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="card-lists" class="row">
                <div id="new-cards" class="col-md-3">


                    <ul class="sortable">

                        <li id="1.1">
                            <div id="empty_card" class="card">
                                <div class="card-title">
                                    <input class="title-input" type="text" placeholder="card title" maxlength="14">
                                </div>
                                <div class="card-description">
                                    <textarea class="task" rows="2" cols="20" placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                        <li id="1.2">
                            <div id="empty_card" class="card">
                                <div class="card-title">
                                    <input class="title-input" type="text" placeholder="card title" maxlength="14">
                                </div>
                                <div class="card-description">
                                    <textarea class="task" rows="2" cols="20" placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                        <li id="1.3">
                            <div id="empty_card" class="card">
                                <div class="card-title">
                                    <input class="title-input" type="text" placeholder="card title" maxlength="14">
                                </div>
                                <div class="card-description">
                                    <textarea class="task" rows="2" cols="20" placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="in-progress-cards" class="col-md-3">
                    <ul class="sortable">

                    </ul>
                </div>
                <div id="review-cards" class="col-md-3">
                    <ul class="sortable">
                        <li id="1.1">
                            <div id="empty_card" class="card">
                                <div class="card-title">
                                    <input class="title-input" type="text" placeholder="card title" maxlength="14">
                                </div>
                                <div class="card-description">
                                    <textarea rows="2" cols="20" placeholder="write a task"></textarea>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="done-cards" class="col-md-3">
                    <ul class="sortable">

                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>

</body>

<footer>

    <button id="add-button" type="button" class="btn btn-default"><span id="add-icon"
                                                                        class="glyphicon glyphicon-plus"></span>
    </button>

</footer>
<script>
    var textarea = document.querySelector('textarea');

    textarea.addEventListener('keydown', autosize);

    function autosize() {
        var el = this;
        setTimeout(function () {
            el.style.cssText = 'height:auto; padding:0';
            // for box-sizing other than "content-box" use:
            // el.style.cssText = '-moz-box-sizing:content-box';
            el.style.cssText = 'height:' + el.scrollHeight + 'px';
        }, 0);
    }
</script>

</html>